.mobile-card-flex-flex-row {
    display: flex;
    gap: 4px;
    flex-direction: row;
}

.mobile-card-list-container {
    border-radius: 8px;
    background: white;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mobile-card-list-container.active {
    border: 1px solid #2e39e5;
}

.mobile-card-list-container.active.mobile-card-list-container .mobile-card-list-head .mobile-card-list-title {
    color: #2e39e5;
}

.mobile-card-list-container .mobile-card-list-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.mobile-card-list-container .mobile-card-list-head .mobile-card-list-title {
    width: 100%;
    font-family: PingFang SC;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: #000000;
}

.mobile-card-list-container .mobile-card-list-head .mobile-card-list-tag {
    display: inline-block;
    padding: 2.5px 4px;
    border-radius: 4px;
    font-family: PingFang SC;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
}

.mobile-card-list-container .mobile-card-list-head .mobile-card-list-tag[type="default"] {
    background-color: #f6f6f7;
    color: #505266;
}

.mobile-card-list-container .mobile-card-list-head .mobile-card-list-tag[type="primary"] {
    background-color: #ebecff;
    color: #2e39e5;
}

.mobile-card-list-container .mobile-card-list-head .mobile-card-list-tag[type="success"] {
    background-color: #e9f7f5;
    color: #1c9e8d;
}

.mobile-card-list-container .mobile-card-list-head .mobile-card-list-tag[type="warning"] {
    background-color: #fff4ec;
    color: #e58235;
}

.mobile-card-list-container .mobile-card-list-head .mobile-card-list-tag[type="error"] {
    background-color: #ffeeee;
    color: #e14949;
}

.mobile-card-list-container .mobile-card-flex-none {
    flex: none;
    max-width: 70%;
}

.mobile-card-list-container .mobile-card-list-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mobile-card-list-container .mobile-card-list-content .mobile-card-list-content-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    word-break: break-all;
    color: #737585;
}

.mobile-card-list-container .mobile-card-list-foot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.mobile-card-list-container .mobile-card-list-foot .mobile-card-list-foot-left {
    font-family: PingFang SC;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #737585;
    flex: 1;
}

.mobile-card-list-container .mobile-card-list-foot .mobile-card-list-btn {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #DCDCE0;
    border-radius: 8px;
    font-family: PingFang SC;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #000000;
}

.mobile-card-list-container .mobile-card-list-foot .mobile-card-list-btn[type="primary"] {
    border: 1px solid #d6d9ff;
    color: #333FFF;
}

.mobile-card-list-container .mobile-card-list-foot .mobile-card-list-btn[type="error"] {
    border: 1px solid #fedcdc;
    color: #fa5151;
}

.mobile-card-list-container .mobile-card-list-foot .mobile-card-list-btn[type="success"] {
    border: 1px solid #d2efeb;
    color: #1fb09d;
}

.mobile-card-list-container .mobile-card-list-foot .mobile-card-list-btn[type="warning"] {
    border: 1px solid #ffe9d8;
    color: #ff913b;
}

.exam-schedule-container {
    display: flex;
    flex-direction: row;
    padding: 2px 12px;
}

.exam-schedule-container .time-line {
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 12px;
    justify-content: center;
    align-items: center;
}

.exam-schedule-container .time-line .circle {
    flex: none;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--wis-base-color-gray-5, #b9bac2);
}

.exam-schedule-container .time-line .line {
    width: 1px;
    height: 100%;
    background-color: var(--wis-base-color-gray-6, #DCDCE0);
}

.exam-schedule-container .content {
    flex: 1;
}

.exam-schedule-container .content .header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: baseline;
}

.exam-schedule-container .content .header .header-title {
    flex: 1;
    word-break: break-all;
    font-size: 14px;
    line-height: 20px;
}

.exam-schedule-container .content .header .header-title > span:first-child {
    font-weight: 500;
    color: var(--wis-base-color-gray-1, #000000);
}

.exam-schedule-container .content .header .header-title > span:last-child {
    font-weight: normal;
    color: var(--wis-base-color-gray, #505266);
}

.exam-schedule-container .content .header .header-tag {
    flex: none;
}

.exam-schedule-container .content .info-list {
    border-radius: 8px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 20px;
    flex-grow: 1;
    background: #ffffff;
    margin: 12px 0 20px 0;
    word-break: break-all;
    position: relative;
}

.exam-schedule-container .content .info-list .chap {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 1;
}

.exam-schedule-container .content .info-list .list-content {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: var(--wis-base-color-gray-3, #737585);
}

.exam-schedule-container .content .info-list .list-content .list-content-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.exam-schedule-container .content .info-list .list-content .list-content-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: var(--wis-base-color-gray-1, #000000);
}

.exam-schedule-container .content .info-list .list-content .list-content-title-tag {
    margin-left: 4px;
    height: 20px;
    width: 20px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 999px;
}

.exam-schedule-container .content .info-list .list-content .list-content-title-tag-b {
    color: #4752FF;
    border: 1px solid #4752FF;
}

.exam-schedule-container .content .info-list .list-content .list-content-title-tag-y {
    color: #FF7852;
    border: 1px solid #FF7852;
}

.exam-schedule-container .content .info-list .list-content .list-content-tip {
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    color: var(--wis-base-color-gray-4, #9697A3);
}

.exam-schedule-container .bottom {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 0;
}

.exam-schedule-container.active .time-line .circle,
.exam-schedule-container.active .time-line .line {
    background-color: #333fff;
}